.footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 0.95rem;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
  }
}
