.header {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navItem {
  font-size: 1rem;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s ease;
}

.link:hover {
  color: #0400ff;
}

.active {
  color: #6d0007;
  font-weight: 600;
  text-decoration: none;
}
